body {
	font-family: '微软雅黑';
	font-size: 12px;
	line-height: 20px;

	margin: 0;
	padding: 0;

	background-color: #f7f7f9;
}
div, ul, li, dt, dl, dd, h1, h2, h3, h4, h5, h6, h7, img, p, span {
	line-height: 20px;

	margin: 0;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	padding: 0;

	list-style-type: none;

	border-width: 0;
	border-style: none;
	border-color: inherit;
}


* {
	margin: 0;
	padding: 0;
}
/* Link */
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	border: 0;
	background-color: Transparent;
}

a {
	blr: expression(this.onFocus=this.blur());
}

.blank5 {
	clear: both;

	width: 100%;
	height: 5px;
}
.blank10 {
	clear: both;

	width: 100%;
	height: 10px;
}
.blank15 {
	clear: both;

	width: 100%;
	height: 15px;
}
.blank20 {
	clear: both;

	width: 100%;
	height: 20px;
}

/*Clear*/
.clear {
	font-size: 1px;
	line-height: 0;

	clear: both;
	overflow: hidden;

	height: 0;
}

.max {
	overflow: hidden; 

	width: 100%;
	height: auto;
	margin: 0 auto;
}

#head {
	float: left;

	width: 100%;
	height: auto;
}

.m_header {
	position: relative;
	z-index: 99;

	overflow: hidden;

	width: 1002px;
	height: 112px;
	margin: 0 auto;
}

.m_logo {
	float: left;
	overflow: hidden;

	height: 110px;
}

.m_logo a img {
	border: none;
}

.m_tel {
	font-family: Arial;
	font-size: 26px;
	line-height: 30px;

	float: right;
	overflow: hidden;

	width: auto;
	height: 36px;
	margin-top: 30px;
	padding-right: 20px;
	padding-left: 40px;

	color: #0047a1;
	background: url('../images/tel.jpg') no-repeat left top;
}



.m_menu {
	position: absolute;
	z-index: 9;

	width: 100%;
	height: 53px;
	margin-left: auto;
	margin-right: auto;	
	_height: auto;
}


.m_banner {
	position: relative;
	z-index: 1;

	overflow: hidden;

	width: 100%;
	height: 337px;
	margin-top: 140px;
}


.s_banner {
	position: relative;
	z-index: 1;
	top: 0;
	left: 50%;

	clear: both;
	overflow: hidden;

	width: 1920px;
	height: 311px;
	margin: 0 ;
	margin-top: 138px;
	margin-left: -961px;

	*left: 0;
	_left: 0;
}


.m_max {
	overflow: hidden;

	width: 1002px;
	height: auto;
	margin: 0 auto;
	padding-top: 10px;
}

.m_about {
	float: left;

	width: 289px;
	height: 233px;

	border: 1px solid #d7d7d7;
}

.m_abo_cokk {
	float: left;

	width: 289px;
	height: 44px;

	border-bottom: 1px solid #d7d7d7;
	background: url('../images/cokk1.jpg') repeat-x left top;
}
.m_abo_cokk h3 {
	font-family: '微软雅黑';
	font-size: 16px;
	line-height: 44px;

	float: left;

	padding-left: 20px;

	color: #000;
}
.m_abo_cokk h3 font {
	font-family: Arabic;
	font-size: 16px;
	line-height: 44px;

	padding-left: 5px;

	text-transform: uppercase;

	color: #054ca8;
}
.m_abo_con {
	float: left;

	width: 289px;
	height: 188px;
}
.m_abo_con a img {
	border: 0;
}


.m_center {
	float: left;

	width: 390px;
	height: 233px;
	margin-left: 14px;

	border: 1px solid #d7d7d7;
}

.m_pro_cokk {
	float: left;

	width: 390px;
	height: 44px;

	border-bottom: 1px solid #d7d7d7;
	background: url('../images/cokk1.jpg') repeat-x left top;
}
.m_pro_cokk h3 {
	font-family: '微软雅黑';
	font-size: 16px;
	line-height: 44px;

	float: left;

	padding-left: 20px;

	color: #000;
}
.m_pro_cokk h3 font {
	font-family: Arabic;
	font-size: 16px;
	line-height: 44px;

	padding-left: 5px;

	text-transform: uppercase;

	color: #054ca8;
}
.m_pro_cokk h4 {
	float: right;

	margin-top: 16px;
	margin-right: 20px;
}
.m_pro_cokk h4 a img {
	border: 0;
}
.m_pro_con {
	float: left;

	width: 390px;
	height: 188px;
}


.rollprod {
	float: left;
	overflow: hidden;

	width: 1002px;
	height: 170px;
	margin-top: 10px;
}

.rollprod .LeftBotton {
	float: left;
	overflow: hidden;

	width: 13px;
	height: 17px;
	margin-top: 70px;
	margin-left: 20px;

	cursor: pointer;

	background: url('../images/lbtn.jpg');
}
.rollprod .RightBotton {
	float: right;
	overflow: hidden;

	width: 13px;
	height: 17px;
	margin-top: 70px;

	cursor: pointer;

	background: url('../images/rbtn.jpg');
}
.rollprod .Cont {
	float: left;
	overflow: hidden;

	width: 942px;
	margin-left: 10px;
}
.rollprod .Cont .pic {
	float: left;

	z-index: -1;
	width: 161px;
	height: 158px;
	margin-left: 10px;

	border: 1px solid #d7d7d7;
}
.rollprod .Cont .pic .pic-text {
	z-index: 1;

	width: 161px;
	height: 30px;
	margin-top: -30px;

	opacity: .5;
	background-color: #006699;

	filter: alpha(Opacity=50);
	-moz-opacity: .5;
}

.rollprod .Cont .pic .pic-text a {
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;

	float: left;

	width: 161px;
	height: 30px;
color:white;
	text-align: center;
}
.rollprod .ScrCont {
	width: 10000000px;
}

.rollprod #List3 {
	float: left;
}
.rollprod #List4 {
	float: left;
}

.m_disp {
	float: right;

	width: 289px;
	height: 233px;

	border: 1px solid #d7d7d7;
}
.m_disp_cokk {
	float: left;

	width: 289px;
	height: 44px;

	border-bottom: 1px solid #d7d7d7;
	background: url('../images/cokk1.jpg') repeat-x left top;
}
.m_disp_cokk h3 {
	font-family: '微软雅黑';
	font-size: 16px;
	line-height: 44px;

	float: left;

	padding-left: 20px;

	color: #000;
}
.m_disp_cokk h3 font {
	font-family: Arabic;
	font-size: 16px;
	line-height: 44px;

	padding-left: 5px;

	text-transform: uppercase;

	color: #054ca8;
}

.m_disp_con {
	float: left;

	width: 289px;
	height: 188px;
}

.s_max {
	height: auto!important;
	padding-top: 20px;

	background: url('../images/box_top.jpg') repeat-x left top;
}

.s_about_box {
	overflow: hidden;

	width: 1002px;
	height: auto;
	margin: 0 auto;
	min-height: 500px;
}

.s_type {
	float: left;

	width: 248px;
	height: auto;
}
.s_type_cokk {
	float: left;
	text-align: center;
	width: 248px;
	height: 43px;

	background: url('../images/lef_bg.jpg') repeat-x left top;
}
.s_type_cokk h3 {
	font-family: '微软雅黑';
	font-size: 26px;
	font-weight: bold;
	line-height: 43px;

	float: left;

	margin-left: 50px;

	color: #fff;
}

.s_type_cokk h3 a {
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: normal;
	line-height: 43px;

	float: left;

	color: #fff;
}

.type_list {
	float: left;

	width: 247px;
	height: auto;
}

.product_list {
	float: left;

	width: 247px;
	height: auto;
}

.type_list ul {
	float: left;

	width: 247px;
	height: auto;
}

.type_list ul li {
	float: left;

	width: 247px;
	height: 42px;

	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	border-left: 1px solid #d6d6d6;
}
.type_list ul li a {
	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: bold;
	line-height: 42px;

	float: left;

	width: 197px;
	height: 42px;
	padding-left: 50px;

	text-align: left;
	text-decoration: none;

	color: #3b3b3b;
}
.type_list ul li a:hover {
	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: bold;
	line-height: 42px;

	float: left;

	width: 197px;
	height: 42px;

	text-align: left;
	text-decoration: underline;

	color: #151515;
}

.type_list ul li a.thov {
	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: bold;
	line-height: 42px;

	float: left;

	width: 197px;
	height: 42px;

	text-align: left;
	text-decoration: underline;

	color: #151515;
	background: url('../images/lef2.jpg') repeat-x left top;
}

.type_list ul span a {
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: bold;
	line-height: 42px;

	float: left;

	width: 247px;
	height: 42px;

	text-align: center;

	color: #515151;
	border: 1px solid #dfdfdf;
	border-top: none;
	background: #f2f3f5;
}

.type_list ul span a:hover {
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: bold;
	line-height: 42px;

	float: left;

	width: 247px;
	height: 42px;

	text-align: center;

	color: #0056a7;
	border: 1px solid #dfdfdf;
	border-top: none;
	background: #f2f3f5;
}

.type_list ul span a.sthov {
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: bold;
	line-height: 42px;

	float: left;

	width: 247px;
	height: 42px;

	text-align: center;

	color: #0056a7;
	border: 1px solid #dfdfdf;
	border-top: none;
	background: #f2f3f5;
}


.s_type_conta {
	float: left;

	width: 248px;
	height: auto;
	margin-top: 14px;

	border: 1px solid #d7d7d7;
}
.s_type_conta_cokk {
	float: left;

	width: 248px;
	height: 44px;

	border-bottom: 1px solid #d7d7d7;
	background: url('../images/cokk1.jpg') repeat-x left top;
}
.s_type_conta_cokk h3 {
	font-family: '微软雅黑';
	font-size: 16px;
	line-height: 44px;

	float: left;

	padding-left: 20px;

	color: #000;
}
.s_type_conta_cokk h3 font {
	font-family: Arabic;
	font-size: 16px;
	line-height: 44px;

	padding-left: 5px;

	text-transform: uppercase;

	color: #054ca8;
}


.s_type_conta_con {
	font-size: 12px;
	font-weight: normal;
	line-height: 25px;

	float: left;
	overflow: hidden;

	width: 234px;
	height: auto;
	margin-left: 10px;
	padding-bottom: 20px;

	text-align: left;
	word-wrap: break-word;
	word-break: break-all;

	color: #565656;
}
.s_type_conta_con img {
	border: none;
	border-bottom: 1px solid #d7d7d7;
}

.s_right {
	float: right;
	overflow: hidden;

	width: 736px;
	height: auto;
}


.s_right_cokk {
	float: left;

	width: 736px;
	height: 43px;

	border-bottom: 2px solid #d7d7d7;
}

.s_right_cokk h3 {
	font-family: '微软雅黑';
	font-size: 16px;
	line-height: 44px;

	float: left;

	color: #000;
}
.s_right_cokk h3 font {
	font-family: Arabic;
	font-size: 16px;
	line-height: 44px;

	padding-left: 5px;

	text-transform: uppercase;

	color: #054ca8;
}
.s_right_cokk h4 {
	font-size: 12px;
	font-weight: normal;
	line-height: 44px;

	color: #646464;
}
.s_right_cokk h4 a {
	font-size: 12px;
	font-weight: normal;
	line-height: 44px;

	color: #646464;
}
.s_right_cokk h4 a:hover {
	font-size: 12px;
	font-weight: normal;
	line-height: 44px;

	color: #212121;
}


.s_rig_abo {
	font-size: 14px;
	line-height: 30px;

	float: left;

	width: 708px;
	height: auto;
	margin-top: 20px;
	margin-left: 16px;
	padding-bottom: 20px;

	color: #565656;
}

.s_rig_abo h3 {
	font-family: '微软雅黑';
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;

	color: #565656;
}




.s_rig_abo_pic {
	float: left;

	width: 710px;
	height: auto;

	text-align: center;
}

.s_rig_abo_pic img {
	border: 3px solid #d6d6d6;
}


.s_right_streng {
	float: left;

	width: 736px;
	height: auto;
}
.prodStr {
	float: left;
	overflow: hidden;

	width: 228px;
	height: 202px;
	margin-top: 10px;
	margin-left: 16px;

	_margin-left: 10px;
}
.imgStr {
	line-height: 168px;

	display: table-cell;
	float: left;

	width: 224px;
	height: 172px;
	padding: 1px;

	text-align: center;
	vertical-align: middle;

	border: 1px solid #d7d7d7;

	*display: block;
	*font-size: 168px;
}
.imgStr img {
	vertical-align: middle;
}
.txtStr {
	font-size: 14px;
	line-height: 30px;

	float: left;
	overflow: hidden;

	width: 224px;
	height: 30px;

	text-align: center;
}
.txtStr a {
	font-size: 14px;

	color: #3c4247;
}
.txtStr a:hover {
	color: #000;
}


.prodBox {
	float: left;
	overflow: hidden;

	width: 224px;
	height: 214px;
	margin-top: 16px;
	margin-left: 16px;

	_margin-left: 10px;
}
.imgBox {
	line-height: 173px;

	display: table-cell;
	float: left;
	overflow: hidden;

	width: 220px;
	height: 210px;

	text-align: center;
	vertical-align: middle;

	border: 1px solid #d7d7d7;

	*display: block;
	*font-size: 173px;
}
.imgBox img {
	vertical-align: middle;
}
.imgBox p {
	font-family: '微软雅黑';
	font-size: 14px;
	line-height: 36px;

	position: absolute;

	float: left;
	overflow: hidden;

	width: 206px;
	height: 36px;
	padding-left: 14px;

	text-align: left;

	background: #3968a4;
}
.imgBox a {
	color: #fff;
}




.prodB {
	float: left;
	overflow: hidden;

	width: 220px;
	height: 266px;
	margin-top: 18px;
	margin-left: 16px;

	_margin-left: 10px;
}
.txtp {
	float: left;
	overflow: hidden;

	width: 201px;
	height: 52px;
	padding-left: 14px;

	text-align: left;

	border: 1px solid #dfdfdf;
	background: url('../images/d2.jpg') repeat-x left top;
}
.txtp a {
	float: left;

	width: 209px;
	height: 52px;
}
.txtp a h3 {
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;

	float: left;

	width: 200px;
	height: 20px;
	margin-top: 5px;

	text-align: left;

	color: #323232;
}
.txtp a h4 {
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;

	float: left;

	width: 200px;
	height: 24px;

	text-align: left;

	color: #323232;
}

.imgp {
	line-height: 206px;

	display: table-cell;
	float: left;
	overflow: hidden;

	width: 215px;
	height: 211px;

	text-align: center;
	vertical-align: middle;

	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	border-left: 1px solid #f1f1f1;

	*display: block;
	*font-size: 206px;
}
.imgp img {
	vertical-align: middle;
}




.prod_title {
	float: left;

	width: 708px;
	height: auto;
}


.prod_title_pic {
	float: left;

	width: 280px;
	height: 280px;
}
.prod_title_pic img {
	border: 1px solid #dfdfdf;
}

.prod_title_txt {
	font-size: 12px;
	font-weight: normal;
	line-height: 25px;

	float: left;

	width: 400px;
	height: 280px;
	margin-left: 16px;
	padding-left: 10px;

	text-align: left;

	color: #4c4c4c;
}
.prod_title_txt span {
	font-size: 12px;
	font-weight: bold;
	line-height: 25px;

	color: #4c4c4c;
}

.prod_title_txt h3 {
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: bold;
	line-height: 36px;

	float: left;

	width: 410px;
	height: 36px;
	padding-left: 10px;

	text-align: left;

	color: #386aaa;
	border-bottom: 1px solid #dfdfdf;
}

.prod-detail pre{
	font-family: '微软雅黑';
	font-size: 12px;
	font-weight: normal;
	line-height: 25px;
}

.none {
	display: none;
}

.ncillo {
	overflow: hidden;

	width: 718px;
	margin: 0;
	padding: 0;
}
.ncillo .cilloTitle {
	position: relative;
	z-index: 9;

	float: left;

	width: 708px;
	height: 30px;
}
.ncillo .cilloTitle li {
	font-weight: bold;
	line-height: 30px;

	float: left;

	width: 99px;
	height: 30px;
	margin-right: 10px;

	cursor: pointer;
	text-align: center;
}
.ncillo .cilloTitle li a {
	text-decoration: none;
}
.ncillo .cilloTitle .active {
	font-size: 14px;

	width: 99px;
	height: 30px;

	text-align: center; 

	color: #fff;
	background: url('../images/ca2.jpg') no-repeat left top;
}
.ncillo .cilloTitle .normal {
	font-size: 14px;

	width: 93px;
	height: 30px;

	text-align: center; 

	color: #275186;
	background: url('../images/ca1.jpg') no-repeat left top;
}
.ncillo .cilloContent {
	font-size: 12px;
	line-height: 20px;

	position: relative;
	z-index: 1;

	display: block;
	float: left;
	clear: both;
	overflow: hidden;

	width: 718px;
	margin: 0;
	margin-top: -1px;
	padding: 0;

	color: #333;
	border-top: 1px solid #dfdfdf;
	background: #fff;
}

p.p0 {
	font-size: 12px;
	line-height: 20px;

	color: #333;
	border: none;
}
.s_chart {
	float: left;

	width: 708px;
	height: auto;
}

.s_chart h3 {
	font-size: 12px;
	font-weight: normal;
	line-height: 30px;

	float: left;

	width: 700px;
	height: 30px;
	padding-left: 14px;

	color: #565656;
	background: url('../images/d1.jpg') no-repeat left 50%;
}


.m_chart {
	float: left;

	width: 730px;
	height: auto;
	margin-left: -24px;
}






.chartbox {
	float: left;

	width: 338px;
	height: 221px;
	margin-left: 24px;

	border: 1px solid #d2d2d2;
}
.chartbox img {
	border: 0;
}
.chartbox_txt {
	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: normal;
	line-height: 34px;

	position: absolute;

	float: left;

	width: 324px;
	height: 34px;
	padding-left: 14px;

	text-align: left;

	color: #565656;
	background: #f2f4f6;
}

.chartbox_pic {
	position: relative;

	float: left;

	width: 338px;
	height: 221px;
}


.chart1 {
	font-size: 12px;
	line-height: 25px;

	color: #565656;
}

.chart1 span {
	font-size: 12px;
	line-height: 25px;

	float: left;

	width: 128px;
	height: auto;
	margin-left: 14px;

	color: #565656;
}


.chart1 img {
	border: none;
}
.chabox {
	font-size: 12px;

	float: left;
	overflow: hidden;

	width: 708px;
	height: auto;

	color: #565656;
	border: 1px solid #d2d2d2;
	border-top: none;
}

.cha1 {
	font-size: 12px;
	line-height: 73px;

	overflow: hidden;

	width: 130px;
	height: auto;

	text-align: center;

	color: #565656;
	border-top: 1px solid #d2d2d2;
	background: #f2f4f6;
}


.cha2 {
	overflow: hidden;

	width: 440px;
	height: auto;

	border-top: 1px solid #d2d2d2;
	background: #fff;
}

.cha2 font {
	font-size: 12px;
	line-height: 20px;

	float: left;

	padding-top: 10px;
	padding-right: 24px;
	padding-bottom: 10px;
	padding-left: 24px;

	text-align: left;

	color: #565656;
}
.cha3 {
	overflow: hidden;

	width: 120px;
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;

	text-align: center;

	border-top: 1px solid #d2d2d2;
	background: #f2f4f6;
}

.cha3 a {
	font-size: 12px;
	line-height: 40px;

	text-align: center;

	color: #565656;
}

.cha3 a:hover {
	font-size: 12px;
	line-height: 40px;

	text-align: center;
	text-decoration: underline;

	color: #1f63bb;
}



.news_list {
	float: left;
	overflow: hidden;

	width: 736px;
	height: auto;
}
.news_list ul {
	overflow: hidden;

	width: 736px;
	height: auto;
}
.news_list ul li {
	font-size: 14px;
	line-height: 39px;

	width: 736px;
	height: 39px;

	color: #565656;
	border-bottom: 1px dotted #666;
}
.news_list ul li span {
	font-size: 14px;
	line-height: 39px;

	float: right;

	padding-right: 10px;

	color: #999;
}
.news_list ul li a {
	font-size: 14px;
	line-height: 39px;

	float: left;
	overflow: hidden;

	width: 600px;
	height: 39px;
	padding-left: 10px;

	text-overflow: ellipsis;

	color: #565656;
	background: url('../images/d3.jpg') no-repeat left 50%;
}
.news_list ul li a:hover {
	font-size: 14px;
	line-height: 39px;

	color: #000;
}



.s_list {
	float: left;

	width: 736px;
	height: auto;
}

.s_list h3 {
	font-size: 24px;
	font-weight: normal;
	line-height: 30px;

	float: left;

	width: 710px;
	height: auto;
	margin-left: 14px;

	text-align: center;

	color: #232323;
}

.s_list h4 {
	font-size: 12px;
	font-weight: normal;
	line-height: 30px;

	float: left;

	width: 710px;
	height: auto;
	margin-left: 14px;

	text-align: center;

	color: #666;
	border-bottom: 1px solid #dee0e1;
}
.s_list_con {
	font-size: 14px;
	line-height: 30px;

	float: left;

	width: 710px;
	height: auto;
	margin-left: 14px;
	padding-top: 20px;
	padding-bottom: 20px;

	color: #565656;
}



.s_list_con a img {
	border: none;
}


.humbox {
	float: left;

	width: 710px;
	height: auto;
	margin-left: 14px;

	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
}

.human1 {
	font-size: 12px;
	line-height: 35px;

	width: 198px;
	height: 35px;

	text-align: center;

	color: #231f20;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #dcdcdc;
}
.human1 a {
	font-size: 12px;
	line-height: 35px;

	width: 198px;
	height: 35px;

	text-align: center;

	color: #231f20;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #dcdcdc;
}
.human2 {
	font-size: 12px;
	line-height: 35px;

	width: 170px;
	height: 35px;

	text-align: center;

	color: #231f20;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #dcdcdc;
}
.human3 {
	font-size: 12px;
	line-height: 35px;

	width: 170px;
	height: 35px;

	text-align: center;

	color: #231f20;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #dcdcdc;
}


.human4 {
	font-size: 12px;
	line-height: 35px;

	width: 198px;
	height: 35px;

	text-align: center;

	color: #231f20;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #fff;
}
.human4 a {
	font-size: 12px;
	line-height: 35px;

	float: left;

	width: 198px;
	height: 35px;

	text-align: center;

	color: #231f20;
	background: #fff;
}
.human4 a:hover {
	text-decoration: underline;
}
.human5 {
	font-size: 12px;
	line-height: 35px;

	width: 170px;
	height: 35px;

	text-align: center;

	color: #231f20;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #fff;
}
.human6 {
	font-size: 12px;
	line-height: 35px;

	width: 170px;
	height: 35px;

	text-align: center;

	color: #231f20;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #fff;
}




.s_hum {
	float: left;

	width: 710px;
	height: auto;
	margin-left: 16px;
}

.s_hum_text {
	font-family: '微软雅黑';
	font-size: 14px;
	font-weight: normal;
	line-height: 35px;

	float: left;

	width: 450px;
	height: auto;

	color: #565656;
}

.s_hum_text h3 {
	font-family: '微软雅黑';
	font-size: 16px;
	font-weight: bold;
	line-height: 35px;

	float: left;

	width: 430px;
	height: auto;
	padding-left: 10px;

	color: #565656;
	background: url('../images/d12.jpg') no-repeat left 50%;
}


.s_hum_pic {
	float: left;

	width: 260px;
	height: auto;
}


.s_hum_pic img {
	border: none;
}







.s_rig_conta {
	font-family: '微软雅黑';
	font-size: 14px;
	line-height: 30px;

	float: left;

	width: 708px;
	height: auto;
	margin-top: 20px;
	margin-left: 16px;
	padding-bottom: 20px;

	color: #565656;
}

.s_rig_conta h3 {
	font-family: '微软雅黑';
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;

	color: #383838;
}
.s_rig_conta img {
	border: 3px solid #d6d6d6;
}




.s_rig_mess {
	float: left;

	width: 710px;
	height: auto;
	margin-left: 20px;
}

.s_rig_mess_cokk {
	float: left;

	width: 710px;
	height: auto;

	border-bottom: 1px dashed #d7d7d7;
}
.s_rig_mess_cokk h3 {
	font-size: 12px;
	font-weight: bold;
	line-height: 30px;

	float: left;

	width: 710px;
	height: auto;
	margin-top: 5px;

	text-align: left;

	color: #222;
}
.s_rig_mess h4 {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;

	float: left;

	width: 710px;
	height: auto;
	padding-bottom: 10px;

	text-align: left;

	color: #222;
}

.tabm1 {
	float: left;

	width: 710px;
	height: auto;
}


.s_tab1 {
	font-size: 14px;

	float: left;

	width: 80px;
	height: 44px;

	color: #222;
}


.s_tab2 {
	font-size: 14px;

	float: left;

	width: 600px;
	height: auto;

	color: #222;
}

.s_tab2 font {
	font-size: 14px;
	line-height: 34px;

	float: left;

	margin-left: 10px;

	color: red;
}


.tbox1 {
	float: left;

	width: 205px;
	height: 30px;
	padding-left: 5px;

	border: 1px solid #979797;
}

.tbox2 {
	float: left;

	width: 565px;
	height: 140px;
	padding-left: 5px;

	border: 1px solid #979797;
}


.tbox3 {
	float: left;

	margin-right: 20px;

	border: none;
}


.dbox {
	float: left;

	width: 710px;
	height: auto;
	margin-left: 14px;

	border-top: 1px solid #c5c5c5;
	border-left: 1px solid #c5c5c5;
}

.dow1 {
	font-size: 12px;
	line-height: 35px;

	width: 120px;
	height: auto;

	text-align: center;

	color: #231f20;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #fff;
}



.dow2 {
	font-size: 12px;
	line-height: 25px;

	width: 380px;
	height: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;

	text-align: left;

	color: #676767;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #fff;
}


.dow3 {
	font-size: 12px;
	line-height: 35px;

	width: 120px;
	height: auto;
	padding-left: 20px;

	text-align: center;

	color: #231f20;
	border-right: 1px solid #c5c5c5;
	border-bottom: 1px solid #c5c5c5;
	background: #fff;
}


.s_data {
	float: left;

	width: 710px;
	height: auto;
	margin-left: 7px;
}


.datbox {
	float: left;

	width: 720px;
	height: 93px;

	border: 1px solid #e2e2e2;
	background: #fff;
}


.datbox:hover {
	float: left;

	width: 720px;
	height: 93px;

	border: 1px solid #e2e2e2;
	background: #f0f0f0;
}
.data1 {
	width: 562px;
	height: 93px;
	padding-left: 28px;

	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}
.data1_btn1 {
	float: left;

	border: none;
}

.data1 div {
	float: left;

	width: 400px;
	margin-top: 16px;
}
.data1 div h3 {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;

	width: 400px;

	text-align: left;

	color: #676767;
}
.data1 div h4 {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;

	width: 400px;

	text-align: left;

	color: #676767;
}

.data2 {
	width: 150px;
	height: 93px;
	padding-left: 50px;

	border-right: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
}


.data2_btn2 {
	float: left;

	border: none;
}






/*s_fanye*/
.s_fanye {
	float: left;
	overflow: hidden;

	width: 736px;
	height: auto;
}

.s_fenye {
	float: left;
	overflow: hidden;

	width: 736px;
	height: auto;
	padding-top: 20px;

	border-top: 1px solid #dfdfdf;
}

.s_fan1 {
	float: left;
	overflow: hidden;

	width: 400px;
	height: auto;
}

.s_fan1 a {
	font-family: '微软雅黑';
	font-size: 13px;
	font-weight: normal;
	line-height: 28px;

	float: left;

	width: 75px;
	height: 28px;
	margin-right: 10px;

	text-align: center;

	color: #6d6d6d;
	background: url('../images/fan1.jpg') no-repeat left  top;
}

.s_fan1 a:hover {
	font-family: '微软雅黑';
	font-size: 13px;
	font-weight: normal;
	line-height: 28px;

	float: left;

	width: 75px;
	height: 28px;

	text-align: center;

	color: #fff;
	background: url('../images/fan2.jpg') no-repeat left  top;
}


.s_fan2 {
	float: right;
	overflow: hidden;

	height: auto;
}

.s_fan2 a {
	font-family: '微软雅黑';
	font-size: 13px;
	font-weight: normal;
	line-height: 28px;

	float: left;

	width: 75px;
	height: 28px;

	text-align: center;

	color: #6d6d6d;
	background: url('../images/fan1.jpg') no-repeat left  top;
}

.s_fan2 a:hover {
	font-family: '微软雅黑';
	font-size: 13px;
	font-weight: normal;
	line-height: 28px;

	float: left;

	width: 75px;
	height: 28px;

	text-align: center;

	color: #fff;
	background: url('../images/fan2.jpg') no-repeat left  top;
}


div.quotes {
	PADDING: 3px;
	MARGIN: 3px;
	PADDING-TOP: 3px;
	TEXT-ALIGN: center;
}
div.quotes a {
	font-family: Arial;
	font-size: 14px;

	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;

	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #aeaeae;
	border-left: 1px solid #ccc;

	COLOR: #6d6d6d;
	MARGIN-RIGHT: 8px;
	TEXT-DECORATION: none;
}
div.quotes a:hover {
	font-family: Arial;
	font-size: 14px;

	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;

	color: #fff;
	border: #1f63bb 1px solid;

	MARGIN-RIGHT: 8px;
	BACKGROUND-COLOR: #1f63bb;
}
div.quotes a:active {
	font-family: Arial;
	font-size: 14px;

	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;

	color: #fff;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #aeaeae;
	border-left: 1px solid #ccc;

	MARGIN-RIGHT: 8px;
}
div.quotes span.current {
	font-family: Arial;
	font-size: 14px;

	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;

	COLOR: #fff;
	MARGIN-RIGHT: 8px;
	BORDER: #1f63bb 1px solid;
	BACKGROUND-COLOR: #1f63bb;
}
div.quotes span.disabled {
	font-family: Arial;
	font-size: 14px;

	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 5px;
	padding-left: 8px;

	color: #fff;
	border-top: 1px solid #d9d9d9;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #aeaeae;
	border-left: 1px solid #ccc;

	COLOR: #6d6d6d;
	MARGIN-RIGHT: 8px;
}
